asgiref==3.8.1
boto3==1.12.45
botocore==1.15.49
certifi==2025.1.31
distlib==0.3.9
Django==5.1.6
django-crispy-forms==1.9.0
django-environ==0.4.5
django-jazzmin==3.0.1
django-storages==1.9.1
docutils==0.15.2
filelock==3.17.0
jmespath==0.10.0
mysqlclient==2.2.6
packaging==24.2
pillow==11.0.0
pipenv==2024.4.1
platformdirs==4.3.6
python-dateutil==2.8.1
pytz==2018.5
s3transfer==0.3.3
setuptools==75.8.0
six==1.15.0
sqlparse==0.5.3
urllib3==1.25.9
virtualenv==20.29.1
