{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DJCRM</title>
    <link href="{% static 'css/style.css'%}" rel="stylesheet ">
     <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class=" mx-auto max-w-8xl ">
        {% include "navbar.html"%}
        {% block content %}
        {% endblock content%}
        
    </div>
    {% include "scripts.html"%}
</body>
</html>